.awc-name {
  font-size: 16px;
}
.awc-name__text--center {
  text-align: center;
}
.awc-name__text--xsmall {
  font-size: 12px;
}
.awc-name__text--small {
  font-size: 16px;
}
.awc-name__text--medium {
  font-size: 20px;
}
.awc-name__text--large {
  font-size: 24px;
}
